[submodule "node_modules/supra-utils"]
	path = node_modules/supra-utils
	url = https://github.com/SupraJS/supra-utils
[submodule "node_modules/supra-session"]
	path = node_modules/supra-session
	url = https://github.com/SupraJS/supra-session
[submodule "node_modules/supra-server"]
	path = node_modules/supra-server
	url = https://github.com/SupraJS/supra-server
[submodule "node_modules/supra-router"]
	path = node_modules/supra-router
	url = https://github.com/SupraJS/supra-router
[submodule "node_modules/supra-request"]
	path = node_modules/supra-request
	url = https://github.com/SupraJS/supra-request
[submodule "node_modules/supra-queue"]
	path = node_modules/supra-queue
	url = https://github.com/SupraJS/supra-queue
[submodule "node_modules/supra-model"]
	path = node_modules/supra-model
	url = https://github.com/SupraJS/supra-model
[submodule "node_modules/supra-file"]
	path = node_modules/supra-file
	url = https://github.com/SupraJS/supra-file
[submodule "node_modules/supra-controller"]
	path = node_modules/supra-controller
	url = https://github.com/SupraJS/supra-controller
[submodule "node_modules/supra-con"]
	path = node_modules/supra-con
	url = https://github.com/SupraJS/supra-con
[submodule "node_modules/supra-class"]
	path = node_modules/supra-class
	url = https://github.com/SupraJS/supra-class
[submodule "node_modules/supra-console"]
	path = node_modules/supra-console
	url = https://github.com/SupraJS/supra-console.git
[submodule "node_modules/supra-debugger"]
	path = node_modules/supra-debugger
	url = https://github.com/SupraJS/supra-debugger.git
